In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pynsee
import pynsee.download

In [24]:
left = pd.DataFrame({
    'id': ['a', 'b', 'c'],
    'x': ['x1', 'x2', 'x3'],
    'y': ['y1', 'y2', 'y3'],
    'z': ['z1', 'z2', 'z3']
}).set_index('id')
left

     x   y   z
id
a   x1  y1  z1
b   x2  y2  z2
c   x3  y3  z3

In [25]:
right = pd.DataFrame({
    'id': ['a', 'd', 'c'],
    'm': ['m1', 'm2', 'm3'],
    'n': ['n1', 'n2', 'n3']
}).set_index('id')
right

     m   n
id
a   m1  n1
d   m2  n2
c   m3  n3

In [27]:
inner_merged = left.merge(
  right,
  left_on = ["id"],
  right_on = ["id"],
  how = "inner"
)
inner_merged

     x   y   z   m   n
id
a   x1  y1  z1  m1  n1
c   x3  y3  z3  m3  n3

In [26]:
left_merged = left.merge(
  right,
  left_on = ["id"],
  right_on = ["id"],
  how = "left"
)
left_merged

     x   y   z    m    n
id
a   x1  y1  z1   m1   n1
b   x2  y2  z2  NaN  NaN
c   x3  y3  z3   m3   n3

In [28]:
right_merged = left.merge(
  right,
  left_on = ["id"],
  right_on = ["id"],
  how = "right"
)
right_merged

      x    y    z   m   n
id
a    x1   y1   z1  m1  n1
d   NaN  NaN  NaN  m2  n2
c    x3   y3   z3  m3  n3

In [30]:
full_merged = left.merge(
  right,
  left_on = ["id"],
  right_on = ["id"],
  how = "outer"
)
full_merged

      x    y    z    m    n
id
a    x1   y1   z1   m1   n1
b    x2   y2   z2  NaN  NaN
c    x3   y3   z3   m3   n3
d   NaN  NaN  NaN   m2   n2